cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

language: android

jdk:
  - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.3
    - android-23

    # Additional components:
    - extra-android-m2repository

branches:
  only:
    - master
    # Match semver branch names like 1.0.0, 1.0.0-rc.2, etc.:
    - /^\d+\.\d+\.\d+(?:-rc\.\d+)?$/

script: ./travis-build.sh
